# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Editor / OS
.vscode/
.idea/
.DS_Store

# Packaging
dist/
build/
*.egg-info/

# Matplotlib cache
.matplotlib/

# Jupyter
.ipynb_checkpoints
